fastapi
uvicorn[standard]
python-multipart
pathway[xpack-llm,xpack-llm-docs]
unstructured[pdf]
pdfminer.six
litellm
google-generativeai
pydantic
python-dotenv
pdf2image
langchain
langgraph
langchain-core
langchain-groq
langchain-openai
huggingface-hub
dotenv
mcp
docker
motor
python-jose 
passlib[script]
pymongo
bcrypt==3.2.0