# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# System files
.DS_Store

# IDE files
.vscode/
.idea/


.env.template
# Build artifacts
dist/
build/
*.log

# ignore everything by default
**

# allow only pipeline and lib folders + required files
!pipeline/
!agentic/
!postgres/
!lib/
!postgres_util.py




