services:
  pipeline:
    build:
      context: .
      dockerfile: pipeline/Dockerfile
      cache_from:
        - pipeline-pipeline:latest
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: db
      POSTGRES_USER: ${_POSTGRES_WRITE_USER}
      POSTGRES_PASSWORD: ${_POSTGRES_WRITE_PASSWORD}
      PIPELINE_ID: ${_PIPELINE_ID}
      FLOWCHART_FILE: "flowchart.json"
      AGENTIC_URL: http://agentic:5333

  agentic:
    build:
      context: .
      dockerfile: agentic/Dockerfile
    depends_on:
      - pipeline
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: db
      POSTGRES_PASSWORD: ${_POSTGRES_READ_PASSWORD}
      POSTGRES_USER: ${_POSTGRES_READ_USER}
    ports:
      - "5333:5333"
  postgres:
    build: ./postgres
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_READ_USER: ${_POSTGRES_READ_USER}
      POSTGRES_WRITE_USER: ${_POSTGRES_WRITE_USER}
      POSTGRES_READ_PASSWORD: ${_POSTGRES_READ_PASSWORD}
      POSTGRES_WRITE_PASSWORD: ${_POSTGRES_WRITE_PASSWORD}
    ports:
      - "5432:5432"
    
