services:
  pipeline:
    build: ./pipeline
    ports:
      - "8000:8000"
      - "8001:8001"  # Error document store port
    depends_on:
      - postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: db
      POSTGRES_USER: ${_POSTGRES_WRITE_USER}
      POSTGRES_PASSWORD: ${_POSTGRES_WRITE_PASSWORD}
      PIPELINE_ID: ${_PIPELINE_ID}
      FLOWCHART_FILE: "flowchart.json"
      AGENTIC_URL: http://agentic:5333
      ERROR_INDEXING_HOST: "0.0.0.0"
      ERROR_INDEXING_PORT: "8001"
      ERRORS_JSON_PATH: "pipeline/errors_table/Errors.json"
      EMBEDDING_MODEL: "models/text-embedding-004"
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      PATHWAY_LICENSE_KEY: ${PATHWAY_LICENSE_KEY}
    volumes:
      - ./pipeline:/app/pipeline:ro
      - ./lib:/app/lib:ro
      - ./postgres_util.py:/app/postgres_util.py:ro
      - ./pipeline/.env:/app/.env:ro
  agentic:
    build: ./agentic
    depends_on:
      - pipeline
      - postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: db
      POSTGRES_PASSWORD: ${_POSTGRES_READ_PASSWORD}
      POSTGRES_USER: ${_POSTGRES_READ_USER}
      RUNBOOK_DATABASE_URL: postgresql+asyncpg://${_POSTGRES_WRITE_USER}:${_POSTGRES_WRITE_PASSWORD}@postgres:5432/db
      DATABASE_URL: postgresql+asyncpg://${_POSTGRES_WRITE_USER}:${_POSTGRES_WRITE_PASSWORD}@postgres:5432/db
      PATHWAY_API_URL: http://pipeline:8001
    ports:
      - "5333:5333"
    volumes:
      - ./agentic:/app/agentic:ro
      - ./lib:/app/lib:ro
      - ./postgres_util.py:/app/postgres_util.py:ro
      - ./agentic/.env:/app/.env:ro
  postgres:
    build: ./postgres
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_READ_USER: ${_POSTGRES_READ_USER}
      POSTGRES_WRITE_USER: ${_POSTGRES_WRITE_USER}
      POSTGRES_READ_PASSWORD: ${_POSTGRES_READ_PASSWORD}
      POSTGRES_WRITE_PASSWORD: ${_POSTGRES_WRITE_PASSWORD}
    ports:
      - "5432:5432"
    
