@import "tailwindcss";

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Body Layout */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Global Input Padding Fix */
input{
  padding: 4% !important;
}
